<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="SportsCompiler"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportsCompiler">
        <activity
            android:name=".MatchForumActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPositionSelector"
            android:exported="false" />
        <activity
            android:name=".Admin_position_selector_5x5"
            android:exported="false" />
        <activity
            android:name=".CreateMatch"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordPage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".RegisterPageAc"
            android:exported="false" />
        <activity
            android:name=".MatchLeavePage"
            android:exported="false" />
        <activity
            android:name=".emailVerificationPage"
            android:exported="false" />
        <activity
            android:name=".homeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>